<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HandleBars...</title>
  </head>
  <body>

    {{!-- <h3>This html file is of handleBars...</h3>
    <h5>My title is {{title}}</h5>
    <h5>My name is {{name}}</h5> --}}
    <form action="">
      <input type="text" placeholder="postId" />
      <button>submit</button>
    </form>

  </body>
</html>

<script>
  const postInput = document.querySelector('form'); const search = document.querySelector('input');
  postInput.addEventListener('submit', (e)=>{ e.preventDefault(); const location = search.value; console.log(location);
  })

</script>